* {
  font-family: 'Roboto', sans-serif;
}

.header {
  padding-left: 0px;
  position: relative;
}

.title {
    font-weight: 300;
    font-size: 48px;
}

.section_title {
  font-weight: 400;
  font-size: 24px;
  margin-top: 48px;
}

.content {
  width: 600px;
  margin: auto;
  padding: 20px;
  position: relative;
  margin-bottom: 100px;
}

.demo_container {
  position: relative;
}

.code {
  padding-left: 20px;
}

.code * {
  font-size: 14px;
  font-family: 'Droid Sans Mono', sans-serif;
  font-weight: normal;
}